/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// / { chosen { zmk,matrix_transform=&five_column_transform; }; };

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |
// |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |
// |  Z  |  X  |  C   |  V   |  B   | ___ | ___ |  |             | WIN |  ___  |  N   |  M    |  ,    |  .   |   /   |
//                     | ___  | CTRL  | ESC  |  BSPC  | SHFT |    |  RET  |  SPC  | MOD  | ___  | ___ |
			bindings = <
    &none &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P        &none
    &none &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMI     &none
    &none &kp Z &kp X &kp C &kp V &kp B &kp ESC &kp LSHFT                         &kp LWIN &none &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &none 
	               	 &none &none &kp LCTRL &kp BSPC &mo 2        &kp RET  &kp SPACE  &mo 1 &none &none
			>;
		};

		mod_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  |  Q  |  W  |  E   |  R   |  T   |                                          |      |       |       |      |       |
// |  |  A  |  S  |  D   |  F   |  G   |                                          |  ^   | LEFT  | DOWN  | UP   | RIGHT |
// |  |  Z  |  X  |  C   |  V   |  B   | ___ | ___ |  |             | WIN |  ___  |      |       |       |      |   $   |
//                     | ___  | CTRL  | ESC  |  BSPC  | SHFT |    |  RET  |  SPC  | MOD  | ___  | ___ |
			bindings = <
   &none &trans  &trans  &kp LPAR  &kp RPAR  &trans                                                 &trans  &trans   &trans      &trans    &trans          &none 
   &none &kp STAR  &kp AMPS  &kp EXCL  &kp QMARK  &kp BSLH                                         &kp CARET  &kp LEFT  &kp DOWN &kp UP &kp RIGHT          &none
   &none &trans  &trans  &kp COLON  &kp LBRC  &kp RBRC   &trans &trans                         &trans  &trans &kp PLUS  &kp EQUAL &trans  &trans  &kp DLLR &none
	                                    &trans &trans  &trans  &trans  &trans         &trans   &trans   &trans &trans &trans
			>;

		  };

		num_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  |  Q  |  W  |  E   |  R   |  T   |                                          |      |       |       |      |       |
// |  |  A  |  S  |  D   |  F   |  G   |                                          |  ^   | LEFT  | DOWN  | UP   | RIGHT |
// |  |  Z  |  X  |  C   |  V   |  B   | ___ | ___ |  |             | WIN |  ___  |      |       |       |      |   $   |
//                     | ___  | CTRL  | ESC  |  BSPC  | SHFT |    |  RET  |  SPC  | MOD  | ___  | ___ |
			bindings = <
   &none &trans  &kp N1  &kp N2  &kp N3  &kp N0                                                &trans  &trans   &trans      &trans    &trans   &none 
   &none &trans  &kp N4  &kp N5  &kp N6  &trans                                                 &trans  &trans  &trans    &trans     &trans   &none
   &none &trans  &kp N7  &kp N8  &kp N9  &trans   &trans &trans                         &trans  &trans &trans  &trans &trans  &trans  &trans  &none
	             &trans &trans  &trans  &trans  &trans         &trans   &trans   &trans &trans &trans
			>;

		  };
	};
};

&pro_micro_i2c {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        label = "DISPLAY";
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        prechargep = <0x22>;
    };
};
